
/* *******************
 * Monitor Default CSS
 * *******************
 */
.ng_widget {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.panel-heading {
  font-weight: 500;
}

.monitor_tile .card-body {
  height: 260px;
  width: 300px;
}

.clearfix {
  overflow: auto;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

body {
  margin: 5px;
  padding: 5px 10px;
}

input, button, select, textarea {
  padding: 5px;
  margin: 2px;
  border: 1px solid #CCC;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}

#docker {
  width: 50%;
  height: auto;
}

#docker .ng_widget {
  font-size: 11px;
  margin: 2px;
}
#docker .ng_widget .panel-heading {
  padding: 5px;
}

#docker .debugwall {
  width: auto;
}

table {
  border-collapse: separate;
  border-spacing: 10px 2px;
}

#selectionDiv {
  padding: 10px 0px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin: 10px 0px;
}

#selectionDiv textarea {
  vertical-align: top;
  width: 100%;
  padding: 10px;
}

.ng_widget {
  margin-right: 7px;
  float: left;
  /* max-width: 800px; */
}

.monitor-checkbox {
  margin-left: 5px;
  vertical-align: text-top;
}

.force-checkbox {
  margin-left: 5px;
}

/* Also in nodegame.css */
.panel-collapse-link {
  display: inline-block;
  float: right;
  cursor: pointer;
  margin-left: 8px;
}

/* Also in nodegame.css */
.docked {
  position: fixed;
  bottom: 0px;
  right: 10px;
  margin-left: 20px;
}


/* Also in nodegame.css */
.docked-left {
  position: fixed;
  bottom: 0px;
  left: 10px;
  margin-right: 20px;
}

.close {
    text-decoration: none;
}

/* ***************
 * Monitor widgets
 * ***************
 */

/* Client List */

 .clientlist {
   width: 100%;
 }

 #clientlist-table {
     display: block;
     max-height: 380px;
     overflow-y: scroll;
 }

 .clientlist a {
   text-decoration: none;
 }

 .clientlist a:hover {
   text-decoration: underline;
 }


/* GameControls */

.gamecontrols {
  max-width: 400px;
  float: left;
}

/* CustomMsg */

.custommsg .card-body {
  overflow-y: auto;
  overflow-x: hidden;
}

.custommsg table tr td:first-child {
  width: 60px;
}

.custommsg table tr td:last-child {
  width: 230px;
}

.custommsg input, .custommsg select, .custommsg textarea {
  width: 100%;
}

/* DebugWall */

.debugwall {
  width: 100%;
}

.wallbuttonsdiv {
  margin-bottom: 15px;
}

.walldiv {
  /* max-width: 96vw; */
  resize: both;
  height: 200px;
  overflow-y: scroll;
  font-family: Verdana;
  font-size: 11px;
  overflow: auto;
  padding: 5px;
}

.wall_in {
  color: #60bc67;
}

.wall_out {
  color: #6083bc;
}

.wall_log {
  color: grey;
}

.wall_in_click, .wall_out_click, .wall_log_click {
  text-decoration: underline;
  cursor: pointer;
}

.wall_in:hover, .wall_out:hover, .wall_log:hover {
  background: #f4f5f7;
}

/* Chat */

/* .chat {} */

.chat .card-body {
  width: 330px;
  height: 380px;
}

.chat_chat {
  overflow-y: scroll;
  height: 280px;
  width: 100%;
  padding: 5px;
}

.chat_textarea {
  resize: none;
  width: 100%;
}

.chat_textarea_btn {
  width: 78%;
  display: inline;
}

.chat_submit {
  height: auto;
  width: 20%;
  max-width: 300px;
}

.chat_inputgroup {
  display: inline-flex;
  width: 100%;
}

.bold {
  font-weight: bold;
}

.chat_msg_event,
.chat_msg_outgoing,
.chat_msg_incoming {
  clear: both;
  float: left;
  padding: 5px 10px;
  margin: 1px;
}

.chat_msg_outgoing {
  float: right;
  max-width: 150px;
  background: #f2f7ff;
  border-radius: 5px;
}

.chat_msg_incoming {
  max-width: 150px;
  background: #f4f4f4;
  border-radius: 5px;
}

.chat_msg_event {
  font-style: oblique;
  font-size: 13px;
}

/* UIControls */

.uicontrols {
  /* width: 300px; */
}

/* GameTable */

table#gametable {
  border: 1px solid #CCC;
}

table#gametable tr td {
  border: 1px solid #CCC;
}

.breadcrumb {
  margin: 0;
  padding: 0;
  font-size: x-large;
}

.ng_clickable:hover {
  cursor: pointer;
}

th:first-child,td:first-child {
  text-align: left;
}

div.panel.msgbar table tbody tr td:nth-child(3) {
  text-align: left;
}

div.panel.commandbuttons {
  width: 500px;
  float: left;
  margin-right: 10px;
}

div.panel.msgbar {
  width: 500px;
  float: left;
}

ul.nav-tabs {
  margin-bottom: 10px;
}

/* Game Details */

.details {
  font-size: 16px;
}

.details-treatment {
  max-width: 100%;
  margin-top: 20px;
}

.details-treatment td {
  padding: 10px;
  vertical-align: text-top;
}

/*
.details tr td:first-child {
  font-weight: 600;
}
*/

/* FileViewer */

.fileviewer .card-body {
  max-height: 500px;
  overflow-y: scroll;
}

/* Results View */

.resultsview {
  max-width: 500px;
  margin-right: 50px;;
}

/* Memory View */

.memoryview {
  max-width: 470px;
}

/* Memory View */

.exporter {
  width: 470px;
  height: 206px !important;
}

.exporter textarea {
  width: 100%;
}



/* For generic settings-viewers: auth, waitroom, requirements, etc. */

table.viewer tr td:first-child,
table.viewer tr th:first-child {
  font-weight: bold;
  text-align: right;
}

table.viewer tr td {
  font-weight: normal;
}

/* Auth Details */

table.auth {
  width: auto;
  max-width: 300px;
}

table.auth td {
  padding: 10px;
  vertical-align: text-top;
}

.version-module-list {
  list-style-type: none;
}

.version-module {
  width: 120px;
  display: inline-block;
  text-align: right;
  font-weight: bold;
}


/* Log Files */
/* Server View */

.serverview .card-body,.logfiles .card-body {
  min-width: 200px;
  max-width: 300px;
  height: 400px;
}


.logfiles .card-body {
  overflow-y: scroll;
}


/** Wait Screen COPIED FROM nodegame.css **/
/*****************/
#ng_waitScreen {
  z-index: 10000;
  filter: alpha(opacity=70);
  /*older IE*/
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);
  /* IE */
  -moz-opacity: 0.7;
  /*older Mozilla*/
  -khtml-opacity: 0.7;
  /*older Safari*/
  opacity: 0.7;
  /*supported by current Mozilla, Safari, and Opera*/
  background-color: #000000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #FFFFFF;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  font-size: 30px;
  padding: 40px;
}
