/*
 * Monitor Default CSS
 */

body {
  margin: 5px;
  padding: 5px;
}

input, button, select, textarea {
  padding: 5px;
  margin: 2px;
  border: 1px solid #CCC;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}

#wall {
  width: auto;
  height: 200px;
  /*margin-bottom: 10px;
      border: 1px solid #CCC;*/
  padding: 5px;
  font-family: Verdana;
  font-size: 11px;
  color: black;
  overflow: auto;
}

page,body {
  padding: 5px;
}

/* Also in nodegame.css */
.panel-collapse-link {
  display: inline-block;
  float: right;
  cursor: pointer;
}

.ng_widget {
  margin-right: 7px;
  float: left;
  /* max-width: 800px; */
}

.clientlist {
  width: 100%;
}

/*
 * Monitor widgets
 */

.chat_chat {
  overflow-y: scroll;
  height: 200px;
  width: 100%;
  padding: 5px;
}

.chat_textarea {
  height: 50px;
  width: 100%;
  resize: none;
}

.chat_me {
  font-weight: bold;
}

.chat_submit {
  height: 70px;
}

.chat {
  min-width: 500px;
  max-width: 800px;
}

/* UIControls */

.uicontrols {
  width: 300px;
}

/* ... */

table#gametable {
  border: 1px solid #CCC;
}

table#gametable tr td {
  border: 1px solid #CCC;
}


.panel-heading > ol.breadcrumb {
  margin: 0;
  padding: 0;
}

.ng_clickable:hover {
  cursor: pointer;
}

table {
  border-collapse: separate;
  border-spacing: 10px 2px;
}

/*
th,td {
    text-align: center;
}
*/

th:first-child,td:first-child {
  text-align: left;
}

div.panel.msgbar table tbody tr td:nth-child(3) {
  text-align: left;
}

div.panel.commandbuttons {
  width: 500px;
  float: left;
  margin-right: 10px;
}

div.panel.msgbar {
  width: 500px;
  float: left;
}

ul.nav-tabs {
  margin-bottom: 10px;
}

/* Game Details */

.details {
  max-width: 500px;
}

.details td {
  padding: 10px;
  vertical-align: text-top;
}

.details tr td:first-child {
  font-weight: bold;
  text-align: right;
}


/* Results View */

.resultsView {
  max-width: 500px;
  margin-right: 50px;
}


/* Memory View */

.memoryView {
  max-width: 450px;
}


/* Auth Details */

table.auth {
  width: auto;
  max-width: 300px;
}

table.auth td {
  padding: 10px;
  vertical-align: text-top;
}

table.auth tr td:first-child,
table.auth tr th:first-child {
  font-weight: bold;
  text-align: right;
}

table.auth tr td {
  font-weight: normal;
}

.version-module-list {
  list-style-type: none;
}

.version-module {
  width: 100px;
  display: inline-block;
  text-align: right;
  font-weight: bold;
}
