
/* *******************
 * Monitor Default CSS
 * *******************
 */
.ng_widget {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.panel-heading {
  font-weight: 500;
}

.monitor_tile .panel-body {
  height: 260px;
  width: 300px;
}

.clearfix {
  overflow: auto;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

body {
  margin: 5px;
  padding: 5px 10px;
}

input, button, select, textarea {
  padding: 5px;
  margin: 2px;
  border: 1px solid #CCC;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}

#docker {
  width: 50%;
  height: auto;
}


#docker .ng_widget {
  font-size: 11px;
  margin: 2px;
}
#docker .ng_widget .panel-heading {
  padding: 5px;
}

#docker .debugwall {
  width: auto;
}

table {
  border-collapse: separate;
  border-spacing: 10px 2px;
}

#selectionDiv {
  padding: 10px 0px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin: 10px 0px;
}

#selectionDiv textarea {
  vertical-align: top;
  width: 100%;
  padding: 10px;
}

.ng_widget {
  margin-right: 7px;
  float: left;
  /* max-width: 800px; */
}

.clientlist {
  width: 100%;
}


/* Also in nodegame.css */
.panel-collapse-link {
  display: inline-block;
  float: right;
  cursor: pointer;
  margin-left: 8px;
}

.docked {
  position: fixed;
  bottom: 0px;
  right: 10px;
  margin-left: 20px;
}

.monitor-checkbox {
  margin-left: 5px;
  vertical-align: text-top;
}

.force-checkbox {
  margin-left: 5px;
}

/* ***************
 * Monitor widgets
 * ***************
 */

/* GameControls */

.gamecontrols {
  max-width: 400px;
  float: left;
}

/* CustomMsg */

.custommsg .panel-body {
  overflow-y: auto;
  overflow-x: hidden;
}

.custommsg table tr td:first-child {
  width: 60px;
}

.custommsg table tr td:last-child {
  width: 250px;
}

.custommsg input, .custommsg select, .custommsg textarea {
  width: 100%;
}

/* DebugWall */

.debugwall {
  width: 100%;
}

.wallbuttonsdiv {
  margin-bottom: 15px;
}

.walldiv {
  /* max-width: 96vw; */
  resize: both;
  height: 200px;
  overflow-y: scroll;
  font-family: Verdana;
  font-size: 11px;
  overflow: auto;
  padding: 5px;
}

.wall_in {
  color: #60bc67;
}

.wall_out {
  color: #6083bc;
}

.wall_log {
  color: grey;
}

.wall_in_click, .wall_out_click, .wall_log_click {
  text-decoration: underline;
  cursor: pointer;
}

.wall_in:hover, .wall_out:hover, .wall_log:hover {
  background: #f4f5f7;
}

/* Chat */

.chat {
  min-width: 300px;
  max-width: 800px;
}

.chat_chat {
  overflow-y: scroll;
  height: 150px;
  width: 100%;
  padding: 5px;
}

.chat_textarea {
  resize: none;
  width: 100%;  
}

.chat_textarea_btn {
  width: 78%;
  display: inline;
}

.chat_submit {
  height: auto;
  width: 20%;
  max-width: 300px;
}

.chat_inputgroup {
  display: inline-flex;
  width: 100%;
}

.bold {
  font-weight: bold;
}

.chat_me {
  font-weight: bold;
}

/* UIControls */

.uicontrols {
  /* width: 300px; */
}

/* GameTable */

table#gametable {
  border: 1px solid #CCC;
}

table#gametable tr td {
  border: 1px solid #CCC;
}

.panel-heading > ol.breadcrumb {
  margin: 0;
  padding: 0;
}

.ng_clickable:hover {
  cursor: pointer;
}

th:first-child,td:first-child {
  text-align: left;
}

div.panel.msgbar table tbody tr td:nth-child(3) {
  text-align: left;
}

div.panel.commandbuttons {
  width: 500px;
  float: left;
  margin-right: 10px;
}

div.panel.msgbar {
  width: 500px;
  float: left;
}

ul.nav-tabs {
  margin-bottom: 10px;
}

/* Game Details */

.details {
  font-size: 16px;
}

.details-treatment {
  max-width: 100%;
  margin-top: 20px;
}

.details-treatment td {
  padding: 10px;
  vertical-align: text-top;
}

/*
.details tr td:first-child {
  font-weight: 600;
}
*/

/* Results View */

.resultsview {
  max-width: 500px;
  margin-right: 50px;;
}

.resultsview .panel-body {
  max-height: 500px;
  overflow-y: scroll;
}

/* Memory View */

.memoryview {
  max-width: 450px;
}

/* For generic settings-viewers: auth, waitroom, requirements, etc. */

table.viewer tr td:first-child,
table.viewer tr th:first-child {
  font-weight: bold;
  text-align: right;
}

table.viewer tr td {
  font-weight: normal;
}

/* Auth Details */

table.auth {
  width: auto;
  max-width: 300px;
}

table.auth td {
  padding: 10px;
  vertical-align: text-top;
}

.version-module-list {
  list-style-type: none;
}

.version-module {
  width: 100px;
  display: inline-block;
  text-align: right;
  font-weight: bold;
}


/* Log Files */
/* Server View */

.serverview .panel-body,.logfiles .panel-body {
  min-width: 200px;
  max-width: 300px;
  height: 350px;
}


.logfiles .panel-body {
  overflow-y: scroll;
}
